html,
body {
  height: 100%;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  line-height: 1.6;
  margin-bottom: 0.24rem;
}

html {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: #7483af;
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

pre,
xmp,
plaintext,
listing {
  font-family: "Helvetica Neue", Helvetica, sans-serif !important;
  white-space: pre-wrap !important;
  margin: 0 !important;
}

details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

b,
strong {
  font-weight: bold;
}

img {
  border: 0;
  outline: none;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin-right: 0;
  text-transform: none;
  border: 0;
  background: 0 0;
  -webkit-appearance: none;
  outline: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

textarea {
  vertical-align: top;
  overflow: auto;
  resize: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

cite {
  font-style: normal;
}

svg:not(:root) {
  overflow: hidden;
}

.none {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

.cols {
  -webkit-box-align: center;
  display: -webkit-box;
}
.cols .span {
  -webkit-box-flex: 1;
}

.rows {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.rows .span {
  -webkit-box-flex: 1;
}
